<div class="main-div">
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>
        Nuevo vehículo
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form [formGroup]="formGroup">
        <table cellspacing=" 0">
          <!-- Name -->
          <tr>
            <td>
              <mat-form-field class="full-width" appearance="fill">
                <mat-label>Name</mat-label>
                <input type="text" matInput [formControl]="name" placeholder="Ex. Audi 39"
                  [errorStateMatcher]="matcher">
                <mat-error *ngIf="name.hasError('required')">
                  El nombre del vehículo es <strong>obligatorio</strong>
                </mat-error>
              </mat-form-field>
            </td>
          </tr>
          <!-- Role -->
          <tr>
            <td>
              <mat-form-field appearance="fill">
                <mat-label>Tipo</mat-label>
                <mat-select [(value)]="typeIdSelected">
                  <mat-option *ngFor="let type of types" [value]="type.id">
                    {{ type.name }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </td>
          </tr>
          <!-- Button - Create User -->
          <tr>
            <td>
              <button (click)="createVehicle()" mat-raised-button color="primary" type="submit" expand="block"
                [disabled]="!formGroup.valid">Crear</button>
            </td>
          </tr>
        </table>
      </form>
    </mat-card-content>
  </mat-card>
</div>
