<h2 mat-dialog-title>Alerta</h2>
<mat-dialog-content class="mat-typography">
  <h3>¿Está seguro de eliminar al usuario?</h3>
  <h4>Al eliminar al usuario se eliminaran: </h4>
  <ul>
    <li>Todas sus reservas.</li>
    <li>Todas sus incidencias reportadas.</li>
    <li>Todos sus tickets.</li>
  </ul>
  <p>
    Por lo tanto, si desea en un futuro tener estadisticas de este usuario (reservas, incidencias, tickets), 
    solo deshabilite al usuario.
  </p>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancelar</button>
  <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Eliminar</button>
</mat-dialog-actions>
