<div class="incident-container">
  <section>
    <div class="example-label">
      <h1>Detalles de incidencia</h1>
    </div>
  </section>
  <div class="details">
    <mat-list role="list">
      <mat-divider></mat-divider>
      <mat-list-item role="listitem">
        <b>Fecha de reporte:&nbsp;</b>{{ incident.date_stored | date: dateTimeFormat }}
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item role="listitem">
        <b>Usuario:&nbsp;</b>{{ incident.owner.fullname }}
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item role="listitem">
        <b>Vehículo:&nbsp;</b>{{ incident.reservation.vehicle.brand }}&nbsp;{{
          incident.reservation.vehicle.model
        }}
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item role="listitem">
        <b>Tipo de incidencia:&nbsp;</b>{{ translateType(incident.type) }}
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item role="listitem">
        <b>Responsabilidad:&nbsp;</b>{{ incident.self_responsible ? 'Causada por el usuario' : 'Encontrada por el usuario' }}
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item role="listitem">
        <b>Descripción: &nbsp;</b>{{ incident.description }}
      </mat-list-item>
    </mat-list>
  </div>

  <div id="wrapper">
    <div id="first">
      <div *ngIf="incident.photo !== '/media/incidents/none.png'; else NoPhoto">
        <img class="photo-size" [src]="driversBaseUrl + incident.photo" alt="Foto del incidente" />
      </div>
      <ng-template #NoPhoto>
        <div>
          <p>No se ha adjuntado una imagen</p>
        </div>
      </ng-template>
    </div>
    <div style="width: 50%; padding-left: 30%;" id="second">
      <form [formGroup]="formGroup">
        <mat-form-field class="full-width" appearance="fill">
          <mat-label>Comentario</mat-label>
          <textarea matInput [formControl]="solverMessage"></textarea>
        </mat-form-field>
      </form>
    </div>
  </div>

  <div class="center-items">
    <button
      (click)="solve()"
      color="primary"
      mat-raised-button
      [disabled]="incident.solved"
      routerLink="../.."
    >
      {{ incident.solved ? 'Ya está solucionado' : 'Solucionar' }}
    </button>
  </div>
</div>
