<div id="map"></div>
<div class="vehicles-container">
  <cdk-virtual-scroll-viewport [itemSize]="50" class="example-viewport">
    <mat-accordion class="example-viewport" >
      <mat-expansion-panel 
      *ngFor="let vehiclePositionMarker of vehiclePositionMarkers$ | async; let index=index"
      (opened)="step = index"
      (closed)="step = -1"
      [expanded]="step === index"
      [disabled]="vehiclePositionMarker.position === undefined || vehiclePositionMarker.marker === undefined"
      hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title> {{ vehiclePositionMarker.vehicle.brand }} {{ vehiclePositionMarker.vehicle.model}} </mat-panel-title>
          <img class="car-icon" [src]="vehiclePositionMarker.marker._icon.src" alt="something">
        </mat-expansion-panel-header>
        <div class="table-container">
          <table mat-table [dataSource]="getDataSource(vehiclePositionMarker.position)">
            <ng-container matColumnDef="feature">
              <th mat-header-cell *matHeaderCellDef> Carácteristica </th>
              <td mat-cell *matCellDef="let featureValue">{{ featureValue.feature }}</td>
            </ng-container>
            <ng-container matColumnDef="value">
              <th mat-header-cell *matHeaderCellDef> Valor </th>
              <td mat-cell *matCellDef="let featureValue">{{ featureValue.value }}</td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
        </div>
        
      </mat-expansion-panel>
    </mat-accordion>
  </cdk-virtual-scroll-viewport>
</div>
