<div class="main-div">
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>
        Editar Vehículo
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form [formGroup]="formGroup">
        <table cellspacing="0">
          <!-- Brand -->
          <tr>
            <td>
              <mat-form-field class="full-width" appearance="fill">
                <mat-label>Marca</mat-label>
                <input type="text" matInput [formControl]="brand" [errorStateMatcher]="matcher">
                <mat-error *ngIf="brand.hasError('required')">
                  La marca es <strong>obligatorio</strong>
                </mat-error>
              </mat-form-field>
            </td>
          </tr>

          <!-- Model -->
          <tr>
            <td>
              <mat-form-field class="full-width" appearance="fill">
                <mat-label>Modelo</mat-label>
                <input type="text" matInput [formControl]="model" [errorStateMatcher]="matcher">
                <mat-error *ngIf="model.hasError('required')">
                  El modelo es <strong>obligatorio</strong>
                </mat-error>
              </mat-form-field>
            </td>
          </tr>

          <!-- Number Plate -->
          <tr>
            <td>
              <mat-form-field class="full-width" appearance="fill">
                <mat-label>Nº Matricula</mat-label>
                <input type="text" matInput [formControl]="numberPlate" [errorStateMatcher]="matcher">
                <mat-error *ngIf="
                numberPlate.hasError('required') ||
                numberPlate.hasError('maxLength') ||
                numberPlate.hasError('minLength')">
                  El nº de matricula debe tener <strong>7 caractéres</strong>
                </mat-error>
              </mat-form-field>
            </td>
          </tr>

          <!-- IMEI -->
          <tr>
            <td>
              <mat-form-field class="full-width" appearance="fill">
                <mat-label>IMEI</mat-label>
                <input type="text" matInput [formControl]="imei" [errorStateMatcher]="matcher">
                <mat-error *ngIf="imei.hasError('required')">
                  El IMEI del gps es <strong>obligatorio</strong>
                </mat-error>
              </mat-form-field>
            </td>
          </tr>

          <!-- Is disabled -->
          <tr>
            <td>
              <mat-form-field class="full-width" appearance="fill">
                <mat-select [formControl]="isDisabled">
                  <mat-option [value]="false">Habilitado</mat-option>
                  <mat-option [value]="true">Deshabilitado</mat-option>
                </mat-select>
              </mat-form-field>
            </td>
          </tr>

          <!-- Button - Edit Vehicle -->
          <tr>
            <td>
              <div>
                <button class="cancel" mat-raised-button color="warn" routerLink="../..">Cancelar</button>
                <button class="edit" (click)="edit()" mat-raised-button color="primary" type="submit" expand="block"
                  [disabled]="!formGroup.valid || sending">Editar</button>
              </div>

            </td>
          </tr>
        </table>
      </form>
    </mat-card-content>
  </mat-card>
</div>
