<div class="main-div">
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title> Editar Vehículo </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form [formGroup]="formGroup">
        <table cellspacing="0">
          <!-- Brand -->
          <tr>
            <td>
              <mat-form-field class="full-width" appearance="fill">
                <mat-label>Marca</mat-label>
                <input type="text" matInput [formControl]="brand" [errorStateMatcher]="matcher" />
                <mat-error *ngIf="brand.hasError('required')">
                  La marca es <strong>obligatorio</strong>
                </mat-error>
              </mat-form-field>
            </td>
          </tr>

          <!-- Model -->
          <tr>
            <td>
              <mat-form-field class="full-width" appearance="fill">
                <mat-label>Modelo</mat-label>
                <input type="text" matInput [formControl]="model" [errorStateMatcher]="matcher" />
                <mat-error *ngIf="model.hasError('required')">
                  El modelo es <strong>obligatorio</strong>
                </mat-error>
              </mat-form-field>
            </td>
          </tr>

          <!-- Number Plate -->
          <tr>
            <td>
              <mat-form-field class="full-width" appearance="fill">
                <mat-label>Nº Matricula</mat-label>
                <input
                  type="text"
                  matInput
                  [formControl]="numberPlate"
                  [errorStateMatcher]="matcher"
                />
                <mat-error
                  *ngIf="
                    numberPlate.hasError('required') ||
                    numberPlate.hasError('maxlength') ||
                    numberPlate.hasError('minlength')
                  "
                >
                  El nº de matricula debe tener <strong>7 caracteres</strong>
                </mat-error>
              </mat-form-field>
            </td>
          </tr>

          <!-- IMEI -->
          <tr>
            <td>
              <mat-form-field class="full-width" appearance="fill">
                <mat-label>IMEI</mat-label>
                <input type="text" matInput [formControl]="imei" [errorStateMatcher]="matcher" />
                <mat-error *ngIf="imei.hasError('required')">
                  El IMEI del gps es <strong>obligatorio</strong>
                </mat-error>
              </mat-form-field>
            </td>
          </tr>

          <!-- Is disabled -->
          <tr>
            <td>
              <mat-form-field class="full-width" appearance="fill">
                <mat-label>Disponibilidad</mat-label>
                <mat-select [formControl]="isDisabled">
                  <mat-option [value]="false">Habilitado</mat-option>
                  <mat-option [value]="true">Deshabilitado</mat-option>
                </mat-select>
              </mat-form-field>
            </td>
          </tr>

          <!-- Fuel -->
          <tr>
            <td>
              <mat-form-field class="full-width" appearance="fill">
                <mat-label>Combustible</mat-label>
                <mat-select [formControl]="fuel">
                  <mat-option value="DIESEL">Diesel</mat-option>
                  <mat-option value="GASOLINE">Gasolina</mat-option>
                  <mat-option value="ELECTRIC">Eléctrico</mat-option>
                </mat-select>
              </mat-form-field>
            </td>
          </tr>

          <!-- Insurance Company -->
          <tr>
            <td>
              <mat-form-field class="full-width" appearance="fill">
                <mat-label>Compañía aseguradora</mat-label>
                <mat-select [formControl]="insuranceCompany">
                  <mat-option>Ninguna</mat-option>
                  <mat-option *ngFor="let company of insuranceCompanies" [value]="company.id">
                    {{ company.name }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </td>
          </tr>

          <!-- Policy Number -->
          <tr>
            <td>
              <mat-form-field class="full-width" appearance="fill">
                <mat-label>Número de póliza</mat-label>
                <input
                  type="text"
                  matInput
                  [formControl]="policyNumber"
                  [errorStateMatcher]="matcher"
                />
              </mat-form-field>
            </td>
          </tr>

          <!-- Icon -->
          <tr>
            <td>
              <mat-form-field class="full-width" appearance="fill">
                <mat-label>Icono</mat-label>
                <mat-select [formControl]="icon" [(value)]="iconSelected">
                  <mat-option *ngFor="let icon of icons" [value]="icon">
                    <div class="wrapper">
                      <div class="text">{{ icon.label }}</div>
                      <div class="icon">
                        <img style="padding-top: 6px" width="30px" [src]="icon.src" alt="vehicle icon" />
                      </div>
                    </div>
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </td>
          </tr>

          <tr>
            <td>
              <img width="50px" [src]="iconSelected?.src">
            </td>
          </tr>

          <!-- Button - Edit Vehicle -->
          <tr>
            <td>
              <div>
                <button class="cancel" mat-raised-button color="warn" routerLink="../..">
                  Cancelar
                </button>
                <button
                  class="edit"
                  (click)="edit()"
                  mat-raised-button
                  color="primary"
                  type="submit"
                  expand="block"
                  [disabled]="!formGroup.valid || sending"
                >
                  Editar
                </button>
              </div>
            </td>
          </tr>
        </table>
      </form>
    </mat-card-content>
  </mat-card>
</div>
