<mat-toolbar>
  <div class="tool-container">
    <img class="logo" [src]="logoUrl" />
    <button
      class="toolbar-button"
      mat-raised-button
      [routerLink]="link.link"
      routerLinkActive
      [color]="getButtonColor(link)"
      *ngFor="let link of navLinks"
    >
      {{ link.label }}
    </button>
    <button
      class="toolbar-button"
      [color]="getButtonColorForConfig()"
      mat-raised-button
      [matMenuTriggerFor]="menu"
    >
      CONFIG.
    </button>
    <mat-menu #menu="matMenu">
      <button
        mat-menu-item
        [routerLink]="link.link"
        routerLinkActive
        *ngFor="let link of menuLinks"
      >
        {{ link.label }}
      </button>
    </mat-menu>
  </div>
  <!-- Account Menu -->
  <button class="account-icon" mat-button [matMenuTriggerFor]="account">
    <mat-icon>person</mat-icon>
  </button>
  <mat-menu #account="matMenu">
    <button mat-menu-item disabled>{{ user.email }}</button>
    <button mat-menu-item (click)="logOut()">Cerrar sesión</button>
  </mat-menu>
</mat-toolbar>
