.example-card {
  width: 600px;
}

.full-width {
  width: 100%;
}

table {
  width: 100%;
  text-align: center;
}

.main-div {
  padding-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cancel {
  margin-right: 5rem;
}

.edit {
  margin-left: 5rem;
}

.wrapper {
  width: 100px;
  position: relative;
  display: flex;
  flex-flow: row nowrap;
}

.text {
  flex-basis: 80%;
  overflow: hidden;
}

.icon {
  flex-basis: 20%;
  position: relative;
  width: 20px;
  height: 20px;
}
