<div class="main-div">
  <mat-card class='form-width'>
    <mat-card-header>
      <mat-card-title> Editar Usuario </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form [formGroup]="formGroup">
        <table cellspacing="0">
          <!-- BLE User Id -->
          <tr>
            <td>
              <mat-form-field class='w-100' appearance="fill">
                <mat-label>Identificador BLE de usuario</mat-label>
                <input
                  type="text"
                  matInput
                  [formControl]="bleUserId"
                  [errorStateMatcher]="matcher"
                />
                <mat-error
                  *ngIf="bleUserId.hasError('maxlength') || bleUserId.hasError('minlength')"
                >
                  El ID debe tener <strong>12 caracteres</strong>
                </mat-error>
              </mat-form-field>
            </td>
          </tr>

          <!-- Role -->
          <tr>
            <td>
              <mat-form-field class='w-100' appearance="fill">
                <mat-label>Rol</mat-label>
                <mat-select [formControl]="role">
                  <mat-option value="USER">Usuario</mat-option>
                  <mat-option value="ADMIN">Administrador</mat-option>
                </mat-select>
              </mat-form-field>
            </td>
          </tr>

          <tr *ngIf="tenant.diet">
            <td>
              <mat-slide-toggle formControlName="supervisor">Supervisor</mat-slide-toggle>
            </td>
          </tr>

          <tr *ngIf="tenant.diet">
            <td>
              <mat-slide-toggle formControlName="interventor">Interventor</mat-slide-toggle>
            </td>
          </tr>

          <!-- Button - Edit Vehicle -->
          <tr>
            <td>
              <div>
                <button class="cancel" mat-raised-button color="warn" routerLink="../..">
                  Cancelar
                </button>
                <button
                  class="edit"
                  (click)="edit()"
                  mat-raised-button
                  color="primary"
                  type="submit"
                  expand="block"
                  [disabled]="!formGroup.valid || sending"
                >
                  Editar
                </button>
              </div>
            </td>
          </tr>
        </table>
      </form>
    </mat-card-content>
  </mat-card>
</div>
