.map {
  position: absolute;
  margin-top: 1rem;
  margin-left: 1rem;
  margin-right: 0.5rem;
  margin-bottom: 1rem;
  top: 60px;
  right: 25%;
  bottom: 0px;
  left: 0px;
}

.statistics {
  position: absolute;
  top: 60px;
  right: 0px;
  bottom: 0px;
  left: 75%;
}

.scroll-bar {
  margin-top: 15px;
  width: 100%;
  height: 98%;
}

.title {
  margin-left: 15px;
  margin-right: 15px;
  background-color: rgb(128, 128, 128);
  border-radius: 10px;
  border-width: 1px;
  color: white;
  text-align: center;
}
