section {
  display: table;
}

.container {
  position: absolute;
  overflow: hidden;
  width: 98%;
  height: 92%;
  margin: 10px;
}

.map-size {
  float: left;
  width: 75%;
  height: 98%;
}

.statistics {
  overflow: hidden;
  display: flex;
  /* flex: 1 1 auto; */
  align-items: center;
  flex-direction: column;
}

.title {
  background-color: grey;
  border-radius: 10px;
  border-width: 1px;
  color: white;
  text-align: center;
}
