<div class="map">
  <app-ant-map></app-ant-map>
</div>
<div class="statistics">
  <cdk-virtual-scroll-viewport [itemSize]="50" class="scroll-bar">
    <!-- Estadísticas -->
    <mat-list role="list">
      <h2 class="title">DESPLAZAMIENTO</h2>
      <mat-list-item role="listitem">
        Velocidad máxima:&nbsp;
        <b>{{ summary?.maxSpeed | number: '1.0-0' }} km/h</b>
      </mat-list-item>

      <mat-list-item role="listitem">
        Velocidad media:&nbsp; <b>{{ summary?.averageSpeed | number: '1.0-0' }} km/h</b>
      </mat-list-item>

      <mat-list-item role="listitem">
        Coste de combustible consumido:&nbsp;
        <b>{{ priceFuelConsumed | number: '1.0-0' | currency: 'EUR':'€' }}</b>
      </mat-list-item>

      <mat-list-item role="listitem">
        Distancia recorrida:&nbsp;
        <b>{{ summary?.distance | number: '1.0-0' }} km</b>
      </mat-list-item>

      <mat-list-item role="listitem">
        Motor encendido:&nbsp;
        <b>{{ summary?.engineHours | duration }}</b>
      </mat-list-item>

      <mat-list-item role="listitem">
        Hora de inicio del desplazamiento:&nbsp; <b>{{ summary?.realStartTime | date : 'shortTime' }}</b>
      </mat-list-item>

      <mat-list-item role="listitem">
        Hora de fin del desplazamiento:&nbsp; <b>{{ summary?.realEndTime | date : 'shortTime' }}</b>
      </mat-list-item>

      <!-- Datos de la reserva -->
      <h2 class="title">RESERVA</h2>
      <mat-list-item role="listitem">
        Propietario:&nbsp; <b>{{ reservation?.owner.fullname }}</b>
      </mat-list-item>

      <mat-list-item role="listitem">
        Vehículo:&nbsp; <b>{{ vehicle?.brand }} {{ vehicle?.model }}</b>
      </mat-list-item>

      <mat-list-item role="listitem">
        Nº Matricula:&nbsp; <b>{{ vehicle?.number_plate }}</b>
      </mat-list-item>

      <mat-list-item role="listitem">
        Combustible:&nbsp; <b>{{ fuel }}</b>
      </mat-list-item>

      <mat-list-item role="listitem">
        Fecha de recogida:&nbsp; <b>{{ reservation?.start | essential }}</b>
      </mat-list-item>

      <mat-list-item role="listitem">
        Fecha de entrega:&nbsp; <b>{{ reservation?.end | essential }}</b>
      </mat-list-item>

      <mat-list-item role="listitem">
        Duración:&nbsp; <b>{{ timeReserved }}</b>
      </mat-list-item>

      <!-- Ocupantes -->
      <h2 class="title">OCUPANTES</h2>
      <span *ngFor="let driver of drivers">
        <mat-list-item role="listitem">
          Ocupante:&nbsp; <b>{{ driver.fullname }}</b>
        </mat-list-item>
      </span>
    </mat-list>
  </cdk-virtual-scroll-viewport>
</div>
