<div class="map">
  <app-ant-map></app-ant-map>
</div>
<div class="statistics">
  <cdk-virtual-scroll-viewport [itemSize]="50" class="scroll-bar">
    <mat-list role="list">
      <!-- Datos de la reserva -->
      <h2 class="title">RESERVA</h2>
      <mat-list-item role="listitem">
        Propietario:&nbsp; <b>{{ reservation?.owner?.fullname }}</b>
      </mat-list-item>

      <mat-list-item role="listitem">
        Vehículo:&nbsp; <b>{{ vehicle?.brand }} {{ vehicle?.model }}</b>
      </mat-list-item>

      <mat-list-item role="listitem">
        Nº Matricula:&nbsp; <b>{{ vehicle?.number_plate }}</b>
      </mat-list-item>

      <mat-list-item role="listitem">
        Combustible:&nbsp; <b>{{ fuel }}</b>
      </mat-list-item>

      <mat-list-item role="listitem">
        Fecha de recogida:&nbsp; <b>{{ reservation?.start | essential }}</b>
      </mat-list-item>

      <mat-list-item role="listitem">
        Fecha de entrega:&nbsp; <b>{{ reservation?.end | essential }}</b>
      </mat-list-item>

      <mat-list-item role="listitem">
        Duración:&nbsp; <b>{{ timeReserved }}</b>
      </mat-list-item>

      <!-- Estadísticas -->

      <h2 class="title">DESPLAZAMIENTO</h2>

      <p *ngIf="summary?.distance === 0; else noData">
        No hay datos de desplazamiento para esta reserva.
      </p>
      <ng-template #noData>
        <mat-list-item role="listitem">
          Velocidad máxima:&nbsp;
          <b>{{ summary?.maxSpeed | number: '1.0-0' }} km/h</b>
        </mat-list-item>

        <mat-list-item role="listitem">
          Velocidad media:&nbsp; <b>{{ summary?.averageSpeed | number: '1.0-0' }} km/h</b>
        </mat-list-item>

        <mat-list-item role="listitem">
          Coste de combustible consumido:&nbsp;
          <b>{{ priceFuelConsumed | currency: 'EUR':'€' }}</b>
        </mat-list-item>

        <mat-list-item role="listitem">
          Distancia recorrida:&nbsp;
          <b *ngIf="summary?.distance < 1">{{ summary?.distance | number: '1.0-1' }} km</b>
          <b *ngIf="summary?.distance >= 1">{{ summary?.distance | number: '1.0-0' }} km</b>
        </mat-list-item>

        <mat-list-item role="listitem">
          Motor encendido:&nbsp;
          <b>{{ summary?.engineHours | duration }}</b>
        </mat-list-item>

        <mat-list-item role="listitem">
          Hora de inicio del desplazamiento:&nbsp;
          <b>{{ summary?.realStartTime | date: 'shortTime' }}</b>
        </mat-list-item>

        <mat-list-item role="listitem">
          Hora de fin del desplazamiento:&nbsp;
          <b>{{ summary?.realEndTime | date: 'shortTime' }}</b>
        </mat-list-item>
      </ng-template>

      <!-- Ocupantes -->
      <h2 class="title">OCUPANTES</h2>
      <span *ngFor="let passenger of passengers">
        <mat-list-item role="listitem">
          Ocupante:&nbsp; <b>{{ passenger.fullname }}</b>
        </mat-list-item>
      </span>
    </mat-list>
  </cdk-virtual-scroll-viewport>
</div>
