<div id="parent">
  <form id="form_login" (ngSubmit)="login()" [formGroup]="credentials">
    <mat-form-field class="full-width">
      <mat-label>Email</mat-label>
      <input type="email" matInput [formControl]="username" [errorStateMatcher]="matcher"
        placeholder="Ex. pat@example.com">
      <mat-error *ngIf="username.hasError('email') && !username.hasError('required')">
        Please enter a valid email address
      </mat-error>
      <mat-error *ngIf="username.hasError('required')">
        Email is <strong>required</strong>
      </mat-error>
    </mat-form-field>
    <br>
    <br>
    <mat-form-field class="full-width">
      <mat-label>Contraseña</mat-label>
      <input type="password" matInput [formControl]="password" [errorStateMatcher]="matcher">
      <mat-error *ngIf="password.hasError('minlength') && !password.hasError('required')">
        Por favor, introduce una contraseña con mas de 5 carácteres
      </mat-error>
      <mat-error *ngIf="password.hasError('required')">
        Contraseña es <strong>obligatoria</strong>
      </mat-error>
    </mat-form-field>
    <br>
    <br>
    <button mat-raised-button color="primary" type="submit" expand="block" [disabled]="!credentials.valid">Log in</button>
  </form>
</div>