<mat-toolbar>
  <img class="logo" [src]="logoUrl" />
  <div class="container">
    <button
      class="toolbar-button"
      mat-raised-button
      [routerLink]="link.link"
      routerLinkActive
      [color]="currentLink === link ? 'warn' : ''"
      *ngFor="let link of navLinks"
      (click)="changeColorTo(link)"
    >
      {{ link.label }}
    </button>
    <button
      class="toolbar-button"
      [color]="isOnConfigPage() ? 'warn' : ''"
      mat-raised-button
      [matMenuTriggerFor]="menu"
    >
      CONFIG.
    </button>
    <mat-menu #menu="matMenu">
      <button
        mat-menu-item
        [routerLink]="link.link"
        routerLinkActive
        *ngFor="let link of menuLinks"
        (click)="changeColorTo(link)"
      >
        {{ link.label }}
      </button>
    </mat-menu>
  </div>
  <!-- Account Menu -->
  <button mat-button [matMenuTriggerFor]="account">
    <mat-icon>person</mat-icon>
  </button>
  <mat-menu #account="matMenu">
    <button mat-menu-item (click)="logOut()">Cerrar sesión</button>
  </mat-menu>
</mat-toolbar>
