<mat-toolbar color="primary">
  <!-- Navigation Menu -->
  <button mat-button [matMenuTriggerFor]="menu">
    <mat-icon>menu</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button
      mat-menu-item
      [routerLink]="link.link"
      routerLinkActive
      *ngFor="let link of navLinks"
    >
      {{ link.label }}
    </button>
  </mat-menu>
  <img class="logo" src="assets/logo/blue-drivers-logo.png" />
  <span class="example-spacer"> BLUE Drivers </span>
  <!-- Account Menu -->
  <button mat-button [matMenuTriggerFor]="account">
    <mat-icon>person</mat-icon>
  </button>
  <mat-menu #account="matMenu">
    <button mat-menu-item (click)="logOut()">Cerrar sesión</button>
  </mat-menu>
</mat-toolbar>
