<div class="table-container">
  <section>
    <div class="example-label">
      <h1>Panel de Tickets</h1>
    </div>
  </section>
  <table mat-table [dataSource]="tickets" class="mat-elevation-z8">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

    <!-- Title Column -->
    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef> Título </th>
      <td mat-cell *matCellDef="let ticket"> {{ ticket.title }} </td>
    </ng-container>

    <!-- Owner Column -->
    <ng-container matColumnDef="owner">
      <th mat-header-cell *matHeaderCellDef> Creador </th>
      <td mat-cell *matCellDef="let ticket"> {{ ticket.owner.username }} </td>
    </ng-container>

    <!-- Date Stored Column -->
    <ng-container matColumnDef="dateStored">
      <th mat-header-cell *matHeaderCellDef> Fecha de creación </th>
      <td mat-cell *matCellDef="let ticket"> {{ ticket.date_stored | date: dateTimeFormat }} </td>
    </ng-container>

    <!-- Status Column -->
    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef> Estado </th>
      <td mat-cell *matCellDef="let ticket"> {{ ticket.status }} </td>
    </ng-container>

    <!-- Decide Column -->
    <ng-container matColumnDef="decide">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let ticket">
        <button mat-icon-button color="error" aria-label="Decide ticket icon" routerLink="../solve/{{ticket.id}}">
          <mat-icon aria-hidden="false" aria-label="gavel icon">gavel</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

</div>
