<div class="table-container">
  <section>
    <div class="example-label">
      <h1>Panel de Reservas</h1>
    </div>
  </section>

  <!-- Filter -->
  <mat-form-field appearance="standard">
    <mat-label>Filter</mat-label>
    <input
      matInput
      (keyup)="applyFilter($event)"
      placeholder="Ex. Mia"
      #input
    />
  </mat-form-field>

  <div class="mat-elevation-z8">
    <!-- Spinner -->
    <div class="example-loading-shade" *ngIf="isLoadingResults">
      <mat-spinner></mat-spinner>
    </div>

    <!-- Table -->
    <table mat-table [dataSource]="dataSource">
      <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

      <!-- Title Column -->
      <ng-container matColumnDef="title">
        <th mat-header-cell *matHeaderCellDef>Título</th>
        <td mat-cell *matCellDef="let reservation">{{ reservation.title }}</td>
      </ng-container>

      <!-- Owner Column -->
      <ng-container matColumnDef="owner">
        <th mat-header-cell *matHeaderCellDef>Creador</th>
        <td mat-cell *matCellDef="let reservation">
          {{ reservation.owner }}
        </td>
      </ng-container>

      <!-- Vehicle Column -->
      <ng-container matColumnDef="vehicle">
        <th mat-header-cell *matHeaderCellDef>Vehículo</th>
        <td mat-cell *matCellDef="let reservation">
          {{ reservation.vehicle }}
        </td>
      </ng-container>

      <!-- Date Start Column -->
      <ng-container matColumnDef="start">
        <th mat-header-cell *matHeaderCellDef>Fecha de recogida</th>
        <td mat-cell *matCellDef="let reservation">
          {{ reservation.start }}
        </td>
      </ng-container>

      <!-- Diff dates  Column -->
      <ng-container matColumnDef="hourMin">
        <th mat-header-cell *matHeaderCellDef>Tiempo reservado</th>
        <td mat-cell *matCellDef="let reservation">
          {{ reservation.hourMin }}
        </td>
      </ng-container>

      <!-- Statistics Column -->
      <ng-container matColumnDef="statistics">
        <th class="button-table" mat-header-cell *matHeaderCellDef></th>
        <td class="button-table" mat-cell *matCellDef="let reservation">
          <button
            mat-icon-button
            color="error"
            aria-label="Go to statistics"
            routerLink="../statistics/{{ reservation.id }}"
            disabled
          >
            <mat-icon aria-hidden="false" aria-label="bar_chart icon"
              >bar_chart</mat-icon
            >
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="columns"></tr>
      <tr mat-row *matRowDef="let row; columns: columns"></tr>
    </table>

    <!-- Paginator -->
    <mat-paginator
      [pageSizeOptions]="[10, 25, 50, 100]"
      aria-label="Select page of reservations"
    ></mat-paginator>
  </div>
</div>
